---
layout: layout
title: "Posts"
---

<section class="content">

  <h1 class="thin">R logiciels</h1>
  <ul class="listing">
    <li><a href="/INITR/">R - Bases du langage R</a></li>
    <li><a href="/vectors/">R - Vecteurs</a></li>
     <li><a href="/matrix/">R - Matrices</a></li>
     <li><a href="/factor/">R - Factors</a></li>
     <li><a href="/rmarkdown/">R - Reporting avec R Markdown</a></li>
    <li><a href="/inference/">R - Les statistiques inférentielles avec R</a></li>
  </ul>

  <h1 class="thin">Jamovi</h1>
  <ul class="listing">
    {% for post in site.posts %}
    {% if post.group == 'jamovi'%}
    <li>
      <span>{{ post.date | date: "%B %e, %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <h1 class="thin">Last POSTS</h1>
  <ul class="listing">
    {% for post in site.posts %}
    {% if post.group == null || post.group != 'thesis' || post.group != 'gothere' || post.group !='slides' || post.group != 'dsi' %}
    <li>
      <span>{{ post.date | date: "%B %e, %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

</section>
